$mainBackground: #a9b89e;
$secondaryBackground: #fff;
$messagesBackground: #e4eaee;

$mainFontColor: #2b343a;
$secondaryFontColor: #8a98ac;

$blue: #4c7cf3;
$green: #2bcd72;
$red: #ff4b5b;
$yellow: #fac751;
$laguna: #52c4ca;

$leftColumnBackground: #505d71;

$sendBackground: #a0b4c0;

$userColor: #bcc3d0;
